/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans','Sans-serif';
}
body{
    background-image: url("https://i.im.ge/2023/07/14/5ISZkf.3959331.jpg");
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    padding-top: 10px;

}
.box{
    width: 350px;
    height: 350px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
    border-radius: 23px;
    flex-direction: column;
    color:rgb(245, 244, 244);
    position: relative;
    overflow: hidden;
    background-color: #2c5364;
}
.box img{
    width: 200px;
    height: 200px;
    border-radius: 40%;
    
    
}
.UserName{
    margin-bottom: 5px;
    font-size: 2rem;
    color: palevioletred;
}
.skill{
    color:palevioletred;
}
.arr_container,.cancel{
    position: absolute;
    width: 50px;
    height: 50px;
    background: orange;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color:black;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .4s;
}
.arr_container i{
    transform:rotate(45deg);
}
.active_arr{
    transform: translate(80%,80%);
}

.left_container{
    position: absolute;
    background: #0f2027;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 40px 0 0 20px;
    transition: all .4s;
}
.off{
    transform: translate(-80%,-80%) rotate(90deg);
}
.active{
    transform: translate(0) rotate(0);
}

.left_container p{
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.left_container .Skills div{
    display: inline-block;
    color: rgb(155, 155, 155);
    border: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    font-size: .9rem;
    margin: 4px 4px 4px 0;
}
.left_container .icons{
    font-size: 1.6rem;
    margin-top: 10px;
}
.left_container .icons i{
    color: #cfcfcf;
    cursor: pointer;
    margin-right: 10px;
    transition: all .4s;

}.left_container .icons i:hover{
    color: #2c5364;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.padding{
    padding: 5px;
    float: left;
}
.contact_info{
    display: flex;
    color: rgb(155, 155, 155);
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

a:hover{
    
    transform: scale(1.5)
}

.icons{
    transition: transform .2s;
}

.h1{    

    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
}
.p{
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
}

.box1{
    width: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
    border-radius: 23px;
    flex-direction: column;
    color:rgb(246, 242, 242);
    position: relative;
    overflow: hidden;
    margin-top: 26px;
    background-color: #2c5364;
    margin-left: 2%;
}

.div{
    margin-left: 10px;
    padding: 10px;
}
